
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/


body {
  background-color: #FFFAE0;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
}
/* Using level 3, I call to h1 using an id */
#Header1{
  color:#FF3215;
  font-family: sans-serif;
  text-align: center;
}
/* using level 6, i call to this div class with .very_classy */
.very_classy {
  color: #03402A;
  display: block;
  margin: auto;
}
/* using levels 15 and 17 I call to specific elements within the divs */
div p:first-child{
  color: ##5188FF;
}
div p:last-child{
  font-family: sans-serif;
  font-variant: small-caps;
}
/* using level 21 I select the second p item in both divs using nth of type */
p:nth-of-type(2){
  margin-left: 500px;
  text-align: left;
}
img {
  width: 40%;
  padding: 2em;
}
