html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #CFFFE6;
  font-family: "helvetica";
}

h1{
  color: #07301c;
  text-align: right;
}
h2{
  visibility: hidden;
  text-align: right;
  color: #07301c;
}
a:link{
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  body {
    background-image: linear-gradient(#CFFFE6, white);
  }
}

@media screen and (max-width: 500px) {
  body {
  }
}

@media screen and (max-width: 320px) {
  body {
    background-image: radial-gradient(#CFFFE6, white);
    }
  #giant{
    visibility: hidden;
  }
  h1{
    text-align: center;
  }
  h2{
    visibility: visible;
  }
}
