html,
body {
}


body {
  background-color: #f9f4e5;
}
button{
  border-width: 0px;
  vertical-align: text-top;

}
#funland {
  margin-right: 400px;
  transform: scale(.4);
}

#venus {
  transform: scale(.35);
}

#boys {
  transform: scale(.35);
}

#rings {
  transform: scale(.35);
}

@media screen and (max-width: 768px) {
  body {
  }
  #rings {
    visibility: hidden;
  }
  #boys {
    visibility: hidden;
  }
}

@media screen and (max-width: 500px) {
  #rings {
    visibility: hidden;
  }
  #venus {
    visibility: hidden;
  }
  #boys {
    visibility: hidden;
  }
  #funland {
    transform: scale(.35);
  }
}

@media screen and (max-width: 320px) {
  body {
    background-image: linear-gradient(#f9f4e5, white);
    }
}
