html,
body {
}


body {
  background-color: #f9f4e5;
}

#funland {
  margin-left: 200px;
  transform: scale(.4);
}

#venus {
  margin-left: 500px;
  transform: scale(.5);
}

#boys {
  transform: scale(.35);
}

#rings {
  transform: scale(.5);
}
