html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url("images/grid.png");
  background-color: #bdc6ef;
  text-align: center;
}

#Marquee {
  width: 100%;
  height: 100%;
}

#milkOne {
  transform: scale(.15);
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
